/*--------------------------------------------------
    goteo_top(activity) , user/profile
--------------------------------------------------*/
div.widget.project div.meter > h3.ronda {
    color:#999900;
    position:absolute;
    top:4px;
    right:16px;
    text-transform: lowercase;
}

div.widget.project div.meter.activable {
    z-index: 999;
    padding-left: 16px!important;
    padding-right: 16px!important;
    max-width: 288px;
}
div.widget.project div.meter {
    padding: 4px 0 98px !important;
    position: relative;
    height: 20px;
}

.meter dl dt,
.meter dl dd {
    position: absolute;
    width: 96px!important;
    height: 30px!important;
    text-align: center;
}

.meter dl dt {
    top: 0;
    font-size: 11px;
    text-transform: uppercase;
}
.meter dl dt.minimum {
    top: 0;
    left: 0;
    color: #cc6600;
}
.meter dl dt.optimum {
    top: 0;
    left: 96px;
    color: #6699cc;
}
.meter dl dt.days {
    top: 0;
    right: 0;
}
.meter dl dt.reached {
    top: 56px;
    left: 0;
}
.meter dl dt.supporters {
    top: 56px;
    left:96px;
}
.meter dl dt.days,
.meter dl dt.reached,
.meter dl dt.supporters {
    color: #666600;
}


.meter dl dd {
    padding-top: 30px;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}
.meter dl dd.minimum {
    top: -16px;
    left: 0;
    color: #cc6600;
    border-right: 1px solid #eee;
}
.meter dl dd.optimum {
    top: -16px;
    left: 96px;
    color: #6699cc;
    border-right: 1px solid #eee;
}
.meter dl dd.days {
    top: -16px;
    right: 0;
}
.meter dl dd.reached {
    top: 40px;
    left: 0;
    font-weight: normal;
    border-right: 1px solid #eee;
}
.meter dl dd.supporters {
    top: 40px;
    left: 96px;
    font-weight: normal;
    border-right: 1px solid #eee;
}
div.widget.project div.meter dl dd.minimum span,
div.widget.project div.meter dl dd.optimum span,
div.widget.project div.meter dl dd.days span,
div.widget.project div.meter dl dd.reached span,
div.widget.project div.meter dl dd.supporters span {
    font-size: 11px;
    font-weight: normal;
}
.meter dl dd.days strong {
    color: #996666;
}
.meter dl dd.supporters strong {
    color: #990000;
}


/*  */
div.widget.project div.meter div.graph .minimum,
div.widget.project-support div.graph > div.minimum {
    background-color: #dc940f;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
div.widget.project div.meter div.graph {
    background-color: #BCCCD8;
    height: 12px;
    border-right: 40px solid #dcdcdc;
    margin: 30px 5px 70px;
    position: relative;
}

div.widget.project div.rewards {
    display: none;
}


/*--------------------------------------------------
    project/home , project/supporters
--------------------------------------------------*/
body.project-show div.widget.project-support div.meter {
    padding-bottom: 134px!important;
    padding-left: 16px!important;
    padding-right: 16px!important;
}
div.widget.project-support div.meter > h3.title {
    color:#999900;
    position:absolute;
    top:8px;
    right:16px;
    text-transform: lowercase;
    font-size: 12px;
    font-weight: bold;
    background-color: #fff;
}

div.widget.project div.meter h2,
div.widget.project div.meter h3,
div.widget.project div.meter h4,
div.widget.project div.meter h5,
div.widget.project div.meter h6,
div.widget.project div.meter h7,
div.widget.project div.meter h8 {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 0 0;
}

div.widget.project div.meter div.graph,
div.widget.project-support div.graph {
    background-color: #BCCCD8;
    height: 12px;
    margin: 24px 0 0;
    position: relative;
}

div.widget.project div.meter div.graph .optimum,
div.widget.project-support div.graph > div.optimum {
    height: 19px;
    margin-right: -2px;
    position: absolute;
    right: 0;
    margin-top: -6px;
}

div.widget.project div.meter dl,
div.widget.project-support dl {
    position: relative;
    margin: 16px 0 0 0;
}

/*discoverに適用*/

body.discover div.widget.project div.meter dl dt,
body.discover div.widget.project div.meter dl dd {
    width: 93px;
    text-align: center;
}

/*body.discover div.widget.project div.meter dl dt.optimum {
    position: absolute;
    top: 0;
    left: 93px;
}

body.discover div.widget.project div.meter dl dd.optimum {
    position: relative;
    top: -16px;
    left: 93px;
    height: 30px;
    padding-top: 30px;
    border-left: 1px solid #eee;
    font-weight: normal;
}*/

/*body.discover div.widget.project div.meter dl dt.minimum {
    position: absolute;
    top: 0px;
    left: 0;
    color: #cc6600;
}

body.discover div.widget.project div.meter dl dd.minimum {
    position: relative;
    top: -42px;
    left: 0;
    color: #cc6600;
    line-height: 14px;
}*/

/*body.discover div.widget.project div.meter dl dt.days {
    position: absolute;
    top: 0;
    right: 0;
}

body.discover div.widget.project div.meter dl dd.days {
    position: absolute;
    top: -16px;
    right: 0;
    height: 30px;
    padding-top: 30px;
    border-left: 1px solid #eee;
}

body.discover div.widget.project div.meter dl dd.minimum span,
body.discover div.widget.project div.meter dl dd.optimum span,
body.discover div.widget.project div.meter dl dd.days span {
    font-size: 12px;
}

div.widget.project div.meter dl dt.minimum span, {
    width: 70px;
}*/

/*↓dashboard/activityに適用↓*/

/*body.dashboard.project-edit div.widget.project div.meter dl dt,
body.dashboard.project-edit div.widget.project div.meter dl dd {
    width: 93px;
    text-align: center;
}
body.dashboard.project-edit div.widget.project div.meter dl dt {
    font-size: 11px;
}
body.dashboard.project-edit div.widget.project div.meter dl dd {
    font-size: 14px;
}

body.dashboard.project-edit div.widget.project div.meter dl dt.optimum {
    position: absolute;
    top: 0;
    left: 93px;
}

body.dashboard.project-edit div.widget.project div.meter dl dd.optimum {
    position: relative;
    top: -16px;
    left: 93px;
    height: 30px;
    padding-top: 30px;
    border-left: 1px solid #eee;
    font-weight: normal;
}

body.dashboard.project-edit div.widget.project div.meter dl dt.minimum {
    position: absolute;
    top: 0;
    left: 0;
    color: #cc6600;
}

body.dashboard.project-edit div.widget.project div.meter dl dd.minimum {
    position: relative;
    top: -42px;
    left: 0;
    color: #cc6600;
    line-height: 14px;
}

body.dashboard.project-edit div.widget.project div.meter dl dt.days {
    position: absolute;
    top: 0;
    right: 0;
}

body.dashboard.project-edit div.widget.project div.meter dl dd.days {
    position: absolute;
    top: -16px;
    right: 0;
    height: 30px;
    padding-top: 30px;
    border-left: 1px solid #eee;
}

body.dashboard.project-edit div.widget.project div.meter dl dd.minimum span,
body.dashboard.project-edit div.widget.project div.meter dl dd.optimum span,
body.dashboard.project-edit div.widget.project div.meter dl dd.days span {
    font-size: 12px;
    right: 0;
}

body.dashboard.project-edit div.widget.project div.meter dl dt.minimum span, {
    width: 70px;
}

body.dashboard.project-edit div.widget.project div.meter dl dt.reached,
body.dashboard.project-edit div.widget.project div.meter dl dd.reached,
body.dashboard.project-edit div.widget.project div.meter dl dt.supporters,
body.dashboard.project-edit div.widget.project div.meter dl dd.supporters {
    display: none;
}*/

/*dashboard/activity サポートしてるプロジェクト*/

/*body.dashboard.project-edit div.discover-group.discover-group-invest_on div.widget.project div.meter dl dt.minimum {
    position: absolute;
    top: 0px;
    color: #cc6600;
}

body.dashboard.project-edit div.discover-group.discover-group-invest_on div.widget.project div.meter dl dd.minimum {
    position: relative;
    top: -42px;
    color: #cc6600;
    line-height: 14px;
}*/

