/*--home--*/


.widget.project .image {
    position: relative;
}


/*----- .tagmark -----*/
.widget.project .image .tagmark {
    position: absolute;
    z-index: 899;
    width: 226px;
    height: 31px;
    margin-top: 8px;
    padding: 1px 0px 0px 16px;
    color: #ffffff;
    font-size: 1.0em;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 32px;
}

.widget.project .image .tagmark.green {
    background:url('/view/images/project/tagmark_green.png') 0 0 no-repeat;
}

.widget.project .image .tagmark.violet {
    background: url('/view/images/project/tagmark_violet.png') 0 0 no-repeat;
}

.widget.project .image .tagmark.red {
    background:url('/view/images/project/tagmark_red.png') 0 0 no-repeat;
}

.widget.project .image .tagmark.grey {
    background:url('/view/images/project/tagmark_grey.png') 0 0 no-repeat;
}


/*----- .categories -----*/
.widget.project .image .categories {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 2px 8px;
    color: #ffffff;
    text-align: left;
    font-size: 0.8em;
    text-transform: uppercase;
    background-color: rgba(25,181,179,0.8);
    filter: alpha(opacity=80);
    cursor: default;
}


/*----- .categories -----*/
.widget.project > .title a {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 900;
    padding: 152px 12px 12px 0;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}


.widget.project > .author,
.widget.project > .author a {
    position: relative;
    z-index: 100;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    text-transform: none;
}
.widget.project > .author {
    overflow: hidden;
    margin: 0;
    padding: 2px 0 0 0;
}

/*.widget.project > .skills,*/
.widget.project > .skills a {
    font-size: 12px;
}

div.widget.project div.description {
    min-height: 42px;
    padding: 5px 0;
    font-size: 12px;
}