body.project-show #sub-header {
    height: auto;
    min-height: 120px;
    padding-bottom: 0;
}
body.project-show #sub-header .project-header img {
    float: left;
    margin: 0 20px 0 0;
}

body.project-show #sub-header .project-header h2 {
    max-width: 700px;
    font-size: 2em;
}

body.project-show #sub-header .project-header h2 > span {
    display: block;
    line-height: 1em;
}

body.project-show #sub-header .project-subtitle {
    max-width: 620px;
    margin: 3px 0;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
}