body.project-show div.project-evaluation div.widget.post {
    background-color: #fff;
}
body.project-show div.project-evaluation div.widget.post h3.title {
    margin: 0;
    padding: 0 20px;
    font-size: 18px;
    font-weight: bolder;
    background-color: #fff;
}