/*--------------------------------------------------
 login
--------------------------------------------------*/
/* 141002 usui change for Day2 */
body.user-login div#main > div {
    display: table-cell;
    width: 30%;
}
body.user-login div#main > div {
    width: auto;
}

body.user-login div#main > div > * {
    padding: 20px 20px 15px;
    background-color: white;
    margin: 0 0 15px;
}

body.user-login div#main > div h2 {
    margin: 0 0 2em;
    font-size: 14px;
    font-weight: bold;
}

body.user-login div#main div.external-login {
    width: 40%;
}

body.user-login div#main div.external-login  {
    padding: 0 20px;
}

body.user-login div#main > div form > div {
    padding: 0 0 1em;
}

body.user-login div#main > div form > div label {
    line-height: 2em;
    display: block;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
}

body.user-login div#main > div form > div input {
    display: block;
    background-color: #DFF2F3;
    height: 12px;
    font-size: 12px;
    width: 21.5em;
}

body.user-login div#main form input[type="submit"] {
    margin-bottom: 10px;
    width: 100%;
}

body.user-login div#main form button.disabled,
body.user-login div#main form button.aqua {
    width: 100%;
}

body.user-login div#main div.register form > div input {
    height: 12px;
    width: 21.5em;
}

body.user-login div#main div.register form > div em {
    color: red;
    font-size: 12px;
}

body.user-login div#main div.register label.conditions {
    font-size: 12px;
    line-height: 16px;
    color: #999999;
}

body.user-login div#main div.register label.conditions a {
    font-size: 12px;
    color: #999999;
}

body.user-login div#main div.register label.conditions a:hover {
    color: #20B3B2;
}

body.user-login .sign-in-with {
    list-style: none;
    margin: 0 0 0 15px;
    padding: 0;
}

.sign-in-with li{
    margin: 0 0 10px;
    display:block;
}

.sign-in-with > li a {
    padding: 3px 22px 3px 30px;
    text-decoration: none;
    background: transparent no-repeat 0px 0px;
    line-height: 22px;
    font-size: 12px;
}

.sign-in-with > li a:hover {
    opacity:0.7;
    filter:alpha(opacity=70);
}
.sign-in-with li.more {
    margin:0;
    padding:0;
    color:#555;
}
.sign-in-with li.more a {
    margin:0;
    padding:0;
    font-size: 12px;
    color:#555;
    text-decoration:underline;
}
.sign-in-with li.facebook a {
    color: #4e6091;
    background-image: url('/view/css/facebook.png');
}

.sign-in-with li.twitter a {
    color: #6dc7eb;
    background-image: url('/view/css/twitter.png');
}

.sign-in-with li.linkedin a {
    color: #4195BA;
    background-image: url('/view/css/linkedin.png');
}
.sign-in-with li.google a {
    background-image: url('/view/css/openid-google.png');
}
.sign-in-with li.yahoo a {
    background-image: url('/view/css/openid-yahoo.png');
}
.sign-in-with li.myopenid a {
    background-image: url('/view/css/openid-myopenid.png');
}
.sign-in-with li.openid input {
    color: #999;
    padding-left:24px;
    padding-right:0px;
    background: url('/view/css/openid-openid.png') no-repeat 4px 3px;
}
.sign-in-with li.openid input.focus,.sign-in-with li.openid input.used {
    color:#666;
}
.sign-in-with > li.openid a {
    background-color: #58595B;
    padding: 1px 6px;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
    font-weight: normal;
    margin: 1px 0 1px 6px;
    color: white;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #aaa;
}

.login > div a {
    float: right;
    font-size: 12px;
    position: relative;
    bottom: 5px;
    color: #999999;
}

.login > div a:hover {
    color: #20B3B2;
}

body.user-login div#main form input[type="submit"]{
    padding: 0;
    font-size: 15px;
    width: 200px;
}

/* .about_cf */
body.user-login div#main > div.about_cf {
    width: 920px;
    display: block;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
}
body.user-login div#main > div.about_cf p {
    padding: 0;
}
body.user-login div#main > div.about_cf p.caution {
    color: #ff3300;
    background-color: #f5f5f5;
    padding: 16px;
}
body.user-login div#main > div.about_cf dl {
    padding: 10px 0;
}
body.user-login div#main > div.about_cf dl dd {
    margin-left: 0;
}
body.user-login div#main > div.about_cf dl dt {
    font-weight: bolder;
}
body.user-login div#main > div.about_cf p.link {
    margin-bottom: 0;
}

body.user-login div#main form {
    margin-top: 40px;
    margin-bottom: 16px;
}
body.user-login div#main div.login p {
    height: 20px;
    margin: 0;
}

/* oauth account information import */
body.user-login div#main > div.register.confirm {
    width: 310px;
    float: left;
}

body.user-login div#main > div.imported_profiles {
    padding-left: 20px;
}

body.user-login div#main > div.imported_profiles > .imported_profiles_inner{
    overflow: hidden;
}

body.user-login div#main > div.imported_profiles > .imported_profiles_inner > div {
    float: left;
    width: 370px;
}



/*--------------------------------------------------
 register
--------------------------------------------------*/
body.user-register div#main > div > * {
    padding: 20px;
    background-color: white;
}

body.user-register div#main > div h2 {
    margin: 0 0 2em;
    font-size: 16px;
    font-weight: bold;
}

body.user-register div#main > div form > div {
    padding: 0 0 1em;
}

body.user-register div#main > div form > div label {
    line-height: 2em;
    display: block;
    font-size: 14px;
    font-weight: bold;
}

body.user-register div#main > div form > div input {
    display: block;
    background-color: #DFF2F3;
    width: 18em;
}

body.user-register div#main form input[type="submit"] {
    margin-bottom: 0;
}



/*--------------------------------------------------
 profile
--------------------------------------------------*/
/*@import url('widget/worthcracy.css');
@import url('widget/about.css');
@import url('widget/social.css');
@import url('widget/supporters.css');
@import url('widget/mates.css');*/

body.user-profile div#main div.widget,
body.community div#main div.widget {
    margin-bottom: 10px;
}

body.user-profile div#main div.center div.widget.project-supporters {
    padding: 0;
}


body.user-profile div#main > div.center,
body.community div#main > div.center {
    width: 620px;
    float: left;
}

body.user-profile div#main > div.side,
body.community div#main > div.side {
    float: right;
    width: 330px;
}

/* Detalle de la linea azul*/
div.widget.user-supporters h3.supertitle {
    border-bottom: 1px solid #313B96 !important;
    background-color: #313B96;
    color: #f5f5f5;
    padding-left: 8px;
}

div.widget.user-mates div.users h3.supertitle{border-top: 1px solid #808285;border-bottom: 1px solid #20B3B2;padding:5px 0 5px 5px;color:#20B3B2;font-size:12px;background:none;}


body.user-profile div#main div.discover-group div.widget.project {
    margin: 0px 0px 0px 15px;
}



/* mates que sale en la parte central
***********************************************/
div.center div.widget.user-mates .users ul > li{
    border-bottom:#D5D5D6 1px solid;
    margin-right: 14px;
    max-width: 275px;
}


div.center div.widget.user-mates .users ul > li h4{
    margin-top:4px;
}

div.center div.widget.user-mates .users ul > li span.projects,div.center div.widget.user-mates .users ul > li span.profile{
    display:inline-block;
    margin-right:15px;
}

div.center div.widget.user-mates .users ul > li span.profile, div.center div.widget.user-mates .users ul > li span.contact{
    display:block;
    float:left;
}

div.center div.widget.user-mates .users ul > li span.profile a{
    float:left;
    background:url('/view/css/user/plus.png') left no-repeat;
    padding-left:15px;
    color:#808285;
}

div.center div.widget.user-mates .users ul > li span.profile a:hover{
    background:url('/view/css/user/plus-hover.png') left no-repeat;
    color:#58595B;
}

div.center div.widget.user-mates .users ul > li span.contact a{
    background:url('/view/css/user/contact.png') left no-repeat;
    padding-left:15px;
    color:#808285;
}

div.center div.widget.user-mates .users ul > li span.contact a:hover{
    background:url('/view/css/user/contact-hover.png') left no-repeat;
    color:#58595B;
}


/* lista de categor�as */
div.center > div.widget.categorylist{padding-bottom:12px;}
div.center > div.widget.categorylist ul{list-style:none;display:inline-block;margin:0;padding-left:0;}
div.center > div.widget.categorylist ul li{display:inline-block;margin-left:0;padding-left:0;}
div.center > div.widget.categorylist ul li a{text-decoration:none;
}
div.center > div.widget.categorylist ul li a.active,
div.center > div.widget.categorylist ul li a:hover{color:#19B4B2}

div.center > div.widget.categorylist > h3.title{font-size: 19px;font-weight: bold;margin: 0 0 1em -20px;padding-left: 20px;}
div.center > div.widget.categorylist > div.filters{border-bottom: 1px solid #D5D5D6;border-top: 1px solid #D5D5D6;padding: 5px;}
div.center > div.widget.categorylist > div.filters > span{font-size:12px;}
div.center > div.widget.categorylist > div.filters > ul{margin-left:1em;}
div.center > div.widget.categorylist > div.filters > ul > li{margin-right:5px;}
div.center > div.widget.categorylist > div.filters > ul > li > a{display:inline-block;
    background:url('/view/css/user/grey-triangle-down.png') no-repeat left; padding-left:15px;font-size:12px;}
div.center > div.widget.categorylist > div.filters > ul > li > a.active{background:url('/view/css/user/blue-triangle-down.png') no-repeat left;}

div.center > div.widget.categorylist > div.list{
}
div.center > div.widget.categorylist > div.list > ul{}
div.center > div.widget.categorylist > div.list > ul > li{margin-right:0.5em;
    margin-bottom: 0.5em;
}
div.center > div.widget.categorylist > div.list > ul > li > a{text-transform:uppercase;font-size:12px;}

/* detalle de categor�as (encabezado de categor�a)*/
div.center > div.widget.user-mates > h3.title{padding: 9px 0 7px 5px;font-size: 12px;font-weight: normal; background:none; border-bottom: 1px solid #908499;border-top: 1px solid #808285;color: #20B3B2;font-size: 12px;
    margin: 0;
}



/*rewards--send message*/
div.center div.widget.user-message{position:relative;z-index:99;}
div.center div.widget.user-message textarea{display:block;margin-left:50px;width:510px;}
div.center div.widget.user-message #bocadillo{background:url('/view/css/bocadillo.jpg') no-repeat;position:absolute;
    width:56px;	height:51px;z-index:100;}
div.center div.widget.user-message #a-preview{color: #2EAB58;
    font-weight: bold;left: 52px;position: relative;text-decoration: none;text-transform: uppercase;top: 10px;}
div.center div.widget.user-message button{float:right;margin-right:8px;}

body.user-profile div.widget.user-message form label[for="message"] {
}
body.user-profile div.widget.user-message form label[for="message"] {
    display: block;
}
body.user-profile div.widget.user-message form textarea#message {
    margin-bottom: 16px;
}

/*profile*/

body.user-profile div#main div.center.profile .widget.worthcracy.user-worthcracy {
    margin: 0 0 10px 0;
    padding: 0;
    background-color: #669933;
}

body.user-profile div#main div.center.profile .widget.worthcracy.user-worthcracy h3.title {
    font-weight: normal;
    margin: 0;
    padding: 0.5em 2px 0.5em 20px;
    border-bottom: 1px solid #669933;
    font-size: 18px;
    color: #fff;
}

/*このユーザーの興味main*/

body.user-profile div#main div.widget, body.community div#main div.center {
    margin: 0 0 10px 0;
}

body.user-profile div#main div.widget.categorylist {
    padding: 0;
    margin: 0;
}

body.user-profile div#main div.widget.categorylist h3.title {
    font-weight: normal;
    margin: 0;
    padding: 0.5em 2px 0.5em 20px;
    border-bottom: 1px solid #21b0b0;
    font-size: 18px;
    background-color: #21b0b0;
    color: #f5f5f5;
}

body.user-profile div.widget.categorylist > div.list {
    padding: 0 0 0 20px;
    background-color: #efefef;
}

body.user-profile div.center > div.widget.categorylist > div.list > ul > li {
    margin: 0.5em 0.5em 0.5em 0;
}

body.user-profile div#main div.widget.user-mates h3.title {
    padding: 4px 0 4px 20px;
    font-size: 14px;
    font-weight: normal;
    background-color: #666666;
    color: #f5f5f5;
    margin: 0;
}

body.user-profile div#main div.center div.widget.user-mates div.users {
    padding: 0;
}

body.user-profile div#main div.center div.widget.user-mates div.users ul li {
    float: left;
    /* height: 62px; */
    margin: -1px 0 0 0;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
    border: none;
    border-right: 1px dashed #c0c0c0;
    border-top: 1px dashed #c0c0c0;
}

body.user-profile div#main div.center div.widget.user-mates .users ul > li {
    border-bottom: none;
    margin:-1px 0 0 0;
    max-width:auto;
}

body.user-profile div#main div.center div.widget.user-mates .users ul > li:nth-child(2n+2) {
    border-right: none;
}

body.user-profile div#main div.center div.widget.user-mates .users ul > li .user {
    padding: 3px 6px 3px 70px;
    position: relative;
}

body.user-profile div.widget.user-mates a.more {
    border-top: 1px dashed #c0c0c0;
    float: none;
    display: block;
    background-color: #fff;
    padding: 10px 10px 0;
    margin: 0;
    text-align: center;
    text-decoration: none;
    font-size: 14px!important;
    line-height: 1.5em;
    height: auto;
}

div.center div.widget.user-mates a.more {
    border-top: 1px dashed #c0c0c0;
    float: none;
    display: block;
    background-color: #fff;
    /*padding: 10px 10px 0;*/
    margin: 0;
    text-align: center;
    text-decoration: none;
    font-size: 14px!important;
    line-height: 1.5em;
    height: auto;
}

/*タイルに表示*/

body.community.about div.center div.widget.user-mates h3.title {
    padding: 4px 0 4px 20px;
    font-size: 14px;
    font-weight: normal;
    background-color: #666666;
    color: #f5f5f5;
    margin: 0;
}

body.community.about div.center div.widget.user-mates .users {
    padding: 0;
}

body.community.about div.center div.widget.user-mates .users ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: auto;
    overflow: auto;
    background-color: #fff;
}

body.community.about div.center div.widget.user-mates .users ul li {
    float: left;
    /* height: 62px; */
    margin: -1px 0 0 0;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
    border: none;
    border-right: 1px dashed #c0c0c0;
    border-top: 1px dashed #c0c0c0;
}

body.community.about div.center div.widget.user-mates .users ul li:nth-child(2n+2) {
    border-right: none;
}

/**/


body.community.about div#main .center {
    width: 100%;
    float: none;
}

body.community.about div#main .center div.widget.categorylist {
    margin: 0 0 20px 0;
    padding: 0;
}

body.community.about div#main .center div.widget.categorylist h3.title {
    font-weight: normal;
    margin: 0;
    padding: 0.5em 2px 0.5em 20px;
    border-bottom: 1px solid #21b0b0;
    font-size: 18px;
    background-color: #21b0b0;
    color: #f5f5f5;
}

body.community.about div#main .center div.widget.user-mates  {
    overflow: hidden;
    margin-bottom: 20px;
}

body.community.about div#main .center div.widget.user-mates .users ul li {
    float: left;
    width: 299px !important;
    max-width: 299px !important;
    margin: -1px 0 0 0;
    overflow: hidden;
    padding: 10px;
    position: relative;
    border: none;
    border-right: 1px dashed #c0c0c0;
    border-top: 1px dashed #c0c0c0;
}

body.community.about div#main .center div.widget.user-mates .users ul li:nth-child(3n+3) {
    border-right: none;
}
