body.project-show div#main {
    margin-top: 0;
    margin-bottom: 0;
}

/*--------------------------------------------------
 sub-header
--------------------------------------------------*/
body.project-show div#sub-header {
	height:auto;
	min-height:120px;
    padding-bottom: 0;
}

body.project-show div#sub-header div.project-header{
    min-height: 75px;
	position:relative;
	top:10px;
}

body.project-show div#sub-header div.project-header img{
    float: left;
    margin: 0 20px 0 0;
}

body.project-show div#sub-header div.project-header h2{
	font-size:26px;
	max-width:620px;
}

body.project-show div#sub-header div.project-header h2 > span{
	display: block;
	line-height: 26px;
}

body.project-show div#sub-header div.project-subtitle {
    max-width:620px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 16px;
}

body.project-show div#sub-header div.wants-skills .matched_skill {
    background-color: #ff9999;
}

body.project-show div#sub-header div.project-by {
    width:620px;
    margin-bottom: 6px;
    color: #20B3B2;
    font-size: 12px;
}

body.project-show div#sub-header div.project-by a {
    font-weight: normal;
    color: #cc6600;
    font-size: 12px;
    text-decoration: none;
}

body.project-show div#sub-header div.project-by a:hover {
    color: #58595B;
}

body.project-show div#sub-header div.categories {
	position: absolute;
    right: 10px;
    text-align: right;
	top: 0;
}

body.project-show div#sub-header div.categories h3 {
    font-weight: normal;
    color: #20B3B2;   
    margin: 0;
}

body.project-show div#sub-header div.categories * {
    font-size: 12px;
}

body.project-show div#sub-header div.categories a {
    /*color: #58595B;*/
    text-decoration: none;
}

body.project-show div#sub-header div.categories a:hover {
    color: #20B3B2;
}

body.project-show div#sub-header div#social_bookmark {
    float: none;
    position: absolute;
    right: 0;
    bottom: 24px;
    width: 330px;
    margin-right: 0;
}


/*--------------------------------------------------
 project-menu
--------------------------------------------------*/
body.project-show div.project-menu {
	margin-top:18px;
}

body.project-show div.project-menu div.sub-menu{
    max-width: 940px;
    margin: 0;
}

body.project-show div.project-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;
}

body.project-show div.project-menu ul li {
    display: inline-block;
    margin-right: 1px;
}

body.project-show div.project-menu ul li span.digits{
	display:inline-block;
	text-align:center;
}

body.project-show div.project-menu ul li a {
    display: inline-block;
    min-width: 80px !important;
    height:50px;
    padding: 0 16px;
    text-decoration: none;
    text-align: center;
    line-height: 49px;
    background: #ffffcc; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffcc 0%, #e5e5b9 100%, #e8e8bb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffcc), color-stop(100%,#e5e5b9), color-stop(100%,#e8e8bb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffcc 0%,#e5e5b9 100%,#e8e8bb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffcc 0%,#e5e5b9 100%,#e8e8bb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffcc 0%,#e5e5b9 100%,#e8e8bb 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffcc 0%,#e5e5b9 100%,#e8e8bb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffcc', endColorstr='#e8e8bb',GradientType=0 ); /* IE6-9 */
    border-top: 1px solid #cccc99;
    border-right: 1px solid #cccc99;
    border-left: 1px solid #cccc99;
    color: #999966;
    font-size: 14px;
    font-weight: bolder;
}

body.project-show div.project-menu ul li.active a {
    min-width: 80px !important;
    height: 50px;
    padding: 0 16px;
    filter: none;
    -ms-filter: none;
    background: none;
    background-color: #dae121;
    border: none;
    color: #666666;
    text-align: center;
    border-top: 1px solid #e8e8bb;
    border-right: 1px solid #e8e8bb;
    border-left: 1px solid #e8e8bb;
}

body.project-show div.project-menu ul li.show a {
    min-width: 80px !important;
    height: 50px;
    filter: none;
    -ms-filter: none;
    background: none;
    background-color: #dae121;
    border: none;
    color: #666666;
    text-align: center;
    border-top: 1px solid #e8e8bb;
    border-right: 1px solid #e8e8bb;
    border-left: 1px solid #e8e8bb;
}


/*--------------------------------------------------
 project-menu
--------------------------------------------------*/
body.project-show div.center.home div.widget,
body.project-show div.center.supporters div.widget,
body.project-show div.center.profile div.widget {
    margin-bottom: 0;
    border-bottom: 1px dashed #c0c0c0;
}

body.project-show div#main div.project-spread div.widget.project.activable {
    margin-bottom: 50px!important;
}

body.project-show div#main div.widget pre {
    font-size: 13px;
}

body.project-show div#main div.widget.project-support {
    min-height: 390px;
}

body.project-show div#main div.side > div.widget {
    width: 330px;
    float: right;
    clear: right;
    margin-bottom: 10px;
}

body.project-show div#main div.side > div.widget .invest-notice{
    clear: both;
    padding:0 20px 20px;
    font-size:13px;
}

body.project-show div#main div.center > div.widget {
    max-width: 540px;
    margin-right: 20px;
    margin-bottom: 10px;
    clear: left;
    padding: 20px 40px;
}
body.project-show div#main div.center > div.widget .gallery-image{
    text-align: center;
}
body.project-show div#main div.center > div.widget .gallery-image img {
    width: 620px;
    position: relative;
    left: -40px;
}
body.project-show div#main div.side > div.widget .title {
    background: none !important;
}
body.project-show div#main div.side div.widget.project-collaborations h5.title {
    margin-bottom: 16px;
    padding-left: 0;
}


/* ayuda a difundir este proyecto */
div.widget.project-spread > h3.title{padding-left:46px;}
div.widget.project-spread > div.widget.projects > div.left{float:left;width:280px;border-right:#000 1px solid;}
div.widget.project-spread > div.widget.projects > div.right{float:left;width:245px;margin-left:12px;}
div.widget.project-spread div.subtitle{width:245px;text-transform:uppercase;margin:0 0 10px 7px;}
div.widget.project-spread div.subtitle > span{display:block;}
div.widget.project-spread div.subtitle > span.primero{margin-bottom:3px;}
div.widget.project-spread div.subtitle > span.segundo{color:#28ACAB;font-weight:bold;}
	
/* envía mensaje al autor - widget embed code */
div.widget.projects #widget-code{	width:350px;	float:left; margin: 0 0 0 20px;}
div.widget.projects  #widget-code .wc-embed{background: url("/view/css/social/embed.png") no-repeat; min-height:20px;text-transform:uppercase;padding: 3px 0 0 25px;margin-top:10px;}
div.widget.projects  #widget-code textarea{
    clear: both;
    width:200px;
    height: 400px;
    margin: 10px 0;
    padding:10px;
    background:#E7E7E7;
    border:none;
    font-size:12px;
    resize:none;
    opacity: 1;
}

/* sideber */
div.widget h4.supertitle {
    height: 50px;
    padding: 0;
    padding-left: 20px;
    border-bottom: none;
    line-height: 50px;
    color: #ffffff;
}

div#project-support,
div#project-investors,
div#project-collaborations,
div#project-rewards,
div.widget.user,
div.widget.project-investors,
div.widget.user-mates,
div.widget.user-mates,
div.widget.user,
div.widget.user-supporters {
    padding: 0;
}

div#project-support .project-widget-box,
div#project-investors .project-widget-box,
div.widget.user .project-widget-box,
div.widget.project-investors .project-widget-box,
div.widget.user-mates .project-widget-box,
div.widget.user-supporters .project-widget-box
{
    padding: 15px 20px;
}

body.project-show div.side div#project-support .project-widget-box {
    position: relative;
}

div.widget.project-support {
    position: relative;
}

div.widge dl {
    margin: 0;
    padding: 0 0 0 20px;
    float: left;
    margin-left: 15px;
    margin-bottom: 60px;
}

/*������*/

div.project-header div.wants-skills a {
    padding: 0 10px 0 0;

}



/*invest*/

body.project-show #main.threecols div.widget.project-spread h3.title {
    padding :0;
    margin: 0;
}

body.project-show #main.threecols div.center.supporters div.widget.project-spread {
    width: 620px;
    height: auto;
    padding: 20px;
}

body.project-show #main.threecols div.center.supporters div.widget.project-spread .widget.projects{
    margin-bottom: 10px!important;
}

body.project-show #main.threecols div.widget.project-spread .widget.projects {
    width: 280px;
    margin: 20px auto 0;
    border: 1px dashed #c0c0c0; 
}

body.project-show #main.threecols div.widget.project-spread div.widget.projects div.left {
    float: none;
    width: 280px;
    height: auto;
    border-right: none;
}

body.project-show #main.threecols div.widget.project-spread div.widget.projects #widget-code {
    clear: both;
    width: 260px;
    float: none;
    margin: 0 0 0 20px;
}

body.project-show #main.threecols div.widget.project-spread div.widget.projects div.left div.subtitle {
    width: 100%;
    text-transform: uppercase;
    margin: 0 0 10px 7px;
    text-align: left;
}

body.project-show #main.threecols .widget.project-message {
    position: relative;
    margin: 0;
}

body.project-show #main.threecols div.widget.project-spread div.widget.projects #widget-code textarea{
    clear: both;
    width:230px;
    height: 130px;
    margin: 10px 0;
    padding:10px;
    background:#E7E7E7;
    border:none;
    font-size:12px;
    resize:none;
    opacity: 1;
}

body.project-show #main.threecols div.project-message {
    padding-bottom: 30px;
}

body.project-show #main.threecols div.project-message button {
    float: right;
    margin-top: 25px;
    font-weight: normal;
    margin-bottom: 0;
    font-style: normal;
}

div.widget.project-support div.buttons {
    padding: 16px 0 0;
    clear: both;
    position: absolute;
    top: 250px;
    left:50%;
    margin:0 0 0 -97px;
}



/*--------------------------------------------------
 project-show common
--------------------------------------------------*/
body.project-show div#main div.center > div.widget.project-summary {
    margin-bottom: 0;
    padding-top: 15px;
}


/*--------------------------------------------------
 project-media
--------------------------------------------------*/
div.widget.project-media {
    padding: 0 !important;
    width: 620px !important;
    min-width: 620px !important;
    max-width: 620px !important;
    height: 380px;
    margin-right: 20px;
}

div.widget.project-media > iframe,
div.widget.project-media > object,
div.widget.project-media > embed {
    min-width: 620px !important;
    min-height: 380px !important;
    width: 620px !important;
    max-width: 620px !important;
    height: 380px !important;
}


/*--------------------------------------------------
 project-summary
--------------------------------------------------*/
/*div.widget.project-summary h1,
div.widget.project-summary h2,
div.widget.project-summary h3,
div.widget.project-summary h4,
div.widget.project-summary h5,
div.widget.project-summary h6 {
    text-transform: none;
    font-weight: bold;
    margin-top: 0;
}*/

div.widget.project-summary h1,
div.widget.project-summary h2,
div.widget.project-summary h3 {
    font-size: 20px;
    font-weight: normal;
}

div.widget.project-summary h4 {
    font-size: 18px;
}

/*div.widget.project-summary h5,
div.widget.project-summary h6,
div.widget.project-summary h7,
div.widget.project-summary h8 {
    font-size: 16px;
}*/

div.widget.project-summary > div {
    margin-bottom: 2em;
    font-size: 14px;
}

div.widget.project-summary div.description img,
div.widget.project-summary div.motivation img {
    position: relative;
    left: -20px;
}

div.widget.project-summary div.prjct-gallery-container {
    width:580px;
    height:380px;
    display:none;
}

div.widget.project-summary div.prjct-gallery-container div.gallery-image {
    text-align: center;
    width:580px;
    height:380px;
    display:block;
}

div.widget.project-summary div#prjct-gallery  {
    float:left;
}

div.widget.project-summary div#prjct-gallery  ul.slderpag {
    margin: 8px 0 0 0;
    list-style:none;
    padding:0px;
    float:left;
    height:auto;
}

div.widget.project-summary div#prjct-gallery  ul.slderpag li {
    cursor:pointer;
    display: block;
    float: left;
    overflow: hidden;
    margin: 0px 4px 5px 4px;
}

div.widget.project-summary div#prjct-gallery  ul.slderpag li a {
    width: 12px;
    height: 12px;
    margin-top: 2px;
    background-color: #cdcdce;
    color: #cdcdce;
    display:block;
}

div.widget.project-summary div#prjct-gallery  ul.slderpag li a:hover {
    background-color: #20b3b2;
    color: #20b3b2;
}

div.widget.project-summary div#prjct-gallery  ul.slderpag li.current a {
    background-color: #808184 !important;
    color: #808184 !important;
}

div.widget.project-summary div#prjct-gallery  a.next,
div.widget.project-summary div#prjct-gallery  a.prev {
    width: 16px;
    height: 16px;
    line-height: 2000px;
    overflow: hidden;
    float:left;
    margin: 8px 0 0 0;
    cursor:pointer;
}

div.widget.project-summary div#prjct-gallery  a.prev {
    background: url('/view/css/small_arrowslider-sprt.png') scroll no-repeat 0 0;
}

div.widget.project-summary div#prjct-gallery  a.prev:hover {
    background: url('/view/css/small_arrowslider-sprt.png') scroll no-repeat 0 -32px;
}

div.widget.project-summary div#prjct-gallery  a.next{
    background: url('/view/css/small_arrowslider-sprt.png') scroll no-repeat 0 -16px;
}

div.widget.project-summary div#prjct-gallery  a.next:hover {
    background: url('/view/css/small_arrowslider-sprt.png') scroll no-repeat 0 -48px;
}

/* Video motivacional */
div.widget.project-summary div.project-motivation-video {
    margin-left: -20px;
    padding: 0;
    width: 620px !important;
    height: 380px;
}


div.widget.project-media > iframe,
div.widget.project-media > object,
div.widget.project-media > embed {
    width: 580px !important;
    height: 380px !important;
}


/*--------------------------------------------------
 project-share
--------------------------------------------------*/
body.project-show div#main > div.center > div.widget.project-share {
    max-width: 580px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: none;
}

div.widget.project-share .title {
    border: none;
}

div.widget.project-share div.left,div.widget.project-share div.right{
    float:left;
}

div.widget.project-share div.left{
    /*width:70%;*/
    width: 68%;
}

div.widget.project-share div.left h4,
div.widget.project-share div.right h4{
    margin-bottom: 6px;
}

div.widget.project-share div.right{
    /*width:30%;*/
    width: 32%;
}


div.widget.project-share h4{
    font-weight:bolder;
    margin-top:0;
}

div.widget.project-share ul {
    height: 60px;
    list-style: none outside none;
    margin: 0;
    overflow: visible;
    padding: 0;
    position: relative;
}

div.widget.project-share li {
    display: block;
    padding-left: 30px;
    float: left;
    min-height: 2em;
    line-height: 2em;
    background: no-repeat left center;
    min-width: 20%;
}

div.widget.project-share li a {
    text-decoration: none;
}

div.widget.project-share li.twitter {
    background-image: url('/view/css/social/twitter.png');
    position:absolute;
    top:0;left:0;
}

div.widget.project-share li.facebook {
    background-image: url('/view/css/social/facebook.png');
    position:absolute;
    top:30px;left:0;
}

div.widget.project-share li.url{
    position:absolute;
    top:0;left:100px;
}

div.widget.project-share li.proyecto{
    background-image: url("/view/css/project/widget/proyecto.jpg");
    font-size: 12px;
    width: 150px;
    height: 24px;
    margin: 2px 0 2px 5px;
    padding-left: 26px;
    line-height: 24px;
    background-color: #555555;
    border-radius: 3px;
    text-align: left;
}
div.widget.project-share li.proyecto a{
    color:#fff;
}
div.widget.project-share li.proyecto a#a-proyecto:link{
    font-size: 12px;
}

div.widget.project-share li.google {
    background-image: url('/view/css/social/google.png');
}



div.widget.project-share li.identica {
    background-image: url('/view/css/social/identica.png');
}

div.widget.project-share li.url {
    background-image: url('/view/css/social/url.png');
}
div.widget.project-share li.url input {
    width: 265px;
}

div.widget.project-share li.embed {
    background-image: url('/view/css/social/embed.png');
}

div.widget.project-share li.url span,
div.widget.project-share li.embed span{
    display: none;
}

div.widget.project-share li.url input,
div.widget.project-share li.url input:focus,
div.widget.project-share li.embed input,
div.widget.project-share li.embed input:focus {
    border: none;
    font-size: inherit;
    background-color: #e6e6e6 !important;
    /*padding: .3em .4em;*/
    border-radius: .25em;
    -moz-border-radius: .2em;
    font-weight: normal;
    padding: 0 .4em;
    height: 24px;
    width: 240px;
}


div.widget.project-support a.button,
div.widget.project-rewards a.button,
div.widget.project-rewards-summary a.button,
div.widget.project-summary a.button {
    width: 200px;
    height: 50px;
    margin: 0;
    padding: 0;
    background: none;
    background: #f2bb67; /* Old browsers */
    background: -moz-linear-gradient(top,  #f2bb67 0%, #ff9900 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2bb67), color-stop(100%,#ff9900)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f2bb67 0%,#ff9900 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f2bb67 0%,#ff9900 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f2bb67 0%,#ff9900 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f2bb67 0%,#ff9900 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2bb67', endColorstr='#ff9900',GradientType=0 ); /* IE6-9 */
    font-size: 14px;
    line-height: 50px;
}

div.widget.project-support a.button:hover,
div.widget.project-rewards a.button:hover
div.widget.project-rewards-summary a.button:hover,
div.widget.project-summary a.button:hover  {
    background: #f2bb67; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff9900 0%, #f2bb67 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9900), color-stop(100%,#f2bb67)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff9900 0%,#f2bb67 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff9900 0%,#f2bb67 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff9900 0%,#f2bb67 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ff9900 0%,#f2bb67 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9900', endColorstr='#f2bb67',GradientType=0 ); /* IE6-9 */
}
